body {
    background: black;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.left {
    float: left;
}

header {
}

nav {
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline
}

nav ul li a {
    padding: 8px;
    color: #999;
}

section {
}

section.showslisting {
    margin-bottom: 25px;
}

section.showslisting p {
    line-height: 1.2em;
    word-spacing: 0.2em;
}

section.tvshow {
    width: 125px;
    height: 150px;
    display: inline-block;
}

.showdescription {
}

.thumbnail {
    display: inline-block;
    width: 100px;
    height: 100px;
}

footer {
    clear: both;
}

/* Media Queries */

/* iPhone Retina */
@media only screen and (min-width: 320px) {
    aside {
        display: none;
    }

    section.showslisting {
        width: 100%;
    }

    .showdescription {
        display: none;
    }
}

/* Extra Small Devices and Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices and Tablets */
@media only screen and (min-width: 768px) {
    .showdescription {
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        width: 100px;
        overflow: hidden;
    }
    section.showslisting p {
        line-height: 1.4em;
        word-spacing: 0em;
    }
}

/* Medium Devices and Desktops */
@media only screen and (min-width: 992px) {
    aside {
        width: 33%;
        display: block;
    }

    section.showslisting {
        width: 66%;
    }

    .showdescription {
        white-space: normal;
        width: 125px;
    }
}

/* Large Devices, Wide Screens, TVs */
@media only screen and (min-width: 1200px) {
}