.left {
    float: left;
}

body {
    background: black;
    color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

header {
    height: 180px;
}

section {
    width: 66%;
}

.thumbnail {
    display: inline-block;
    width: 200px;
    height: 100px;
}

aside {
    width: 33%;
}

footer {
    clear: both;
}